$dark-body-bg: #7A7D7D;
$dark-button-bg: #EF233C;
$dark-card-bg: #0E131F;
$dark-button-text: #AFDEDC;
$dark-text: #F4FAFF;

$light-body-bg: #E0E1E1;
$light-button-bg: #EF233C;
$light-card-bg: #B9C4DF;
$light-button-text: #F1F9F9;
$light-text: #000B14;
